.button {
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 20;
    -fx-background-size: 100 120;
    -fx-background-color: #FFFFF0;
    -fx-border-color: #8B4513;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-text-alignment: center;
}

#anchor {
    -fx-background: #DEB887;
}

#imageborder {
    -fx-border-color: #8B4513;
}